html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #2e3842;
}

.menu {
    overflow: auto;
    min-height: 100%;
    width: 100%;
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../assets/images/background.png");
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../assets/images/background.png");
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../assets/images/background.png");
	background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../assets/images/background.png");
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

h1 {
    color: white;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
}

#nameDropdown {
    font-size: 20px;
    color: white;
    background-color: transparent;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}

#nameDropdown option {
    font-size: 15px;
    color: black;
    cursor: pointer;
}

#btnGenerate {
    font-size: 15px;
    padding: 5px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: transparent;
    color: white;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}

#btnAdd {
    font-size: 15px;
    padding: 5px;
    background-color: transparent;
    color: white;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}

#list {
    color: white;
    text-align: center;
    font-size: 20px;
    margin-left: 25%;
    margin-right: 25%;
}